<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de empleados</span>

<button class="btn btn-dark btn-lg float-right" routerLink="/create-empleado">Agregar</button>
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th >Nombre</th>
                    <th >Apellido</th>
                    <th >DNI</th>
                    <th>Salario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Daniel</td>
                    <td>Grecco</td>
                    <td>11223344</td>
                    <td>250.000</td>
                    <td>
                        <i class="fa-solid fa-pen-to-square fa-lg text-info mr-2"></i>
                        <i class="fa-solid fa-trash fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Ismael</td>
                    <td>Torres</td>
                    <td>33226655</td>
                    <td>150.000</td>
                    <td>
                        <i class="fa-solid fa-pen-to-square fa-lg text-info mr-2"></i>
                        <i class="fa-solid fa-trash fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Leon</td>
                    <td>Merlin</td>
                    <td>99668855</td>
                    <td > 120.000</td>
                    <td>
                        <i class="fa-solid fa-pen-to-square fa-lg text-info mr-2"></i>
                        <i class="fa-solid fa-trash fa-lg text-danger"></i>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>

</div>